<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>전체 회원 검색</h1>
    로그인한 사람의 NAME : <%=user.name%>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>PW</th>
            <th>NICK</th>
        </tr>
        <% for (var i = 0; i< rows.length; i++){ %>
            <tr>
                <td><%=rows[i].id%></td>
                <td><%=rows[i].pw%></td>
                <td><%=rows[i].nickname%></td>
                <td><a href="http://localhost:3000/Delete?id=<%=rows[i].id%>">삭제</a></td>
            </tr>
        <%}%>
    </table>
    
</body>
</html>